.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
	
    background-color: white;
    border-radius: 10px;
    min-width: 18em;
    padding: 1em;
    margin-left: 20%;
    margin-right: 20%;
	margin-top: 5%;
	
    text-align: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);    
}

.hangman-svg {
	max-height: 280px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
    color: var(--color);
}

.game-info {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 2em;
    color: var(--color);
}

.guessed-letters {
    font-size: 0.8rem;
    font-weight: bold;
    color: #656161;
    margin-bottom: 1em;

}   
.guess-btn:hover {
	cursor: pointer;
	border: 3px solid rgb(165, 167, 168);
	background-color: rgb(187, 191, 192);
	color: rgb(250, 104, 36);

}
button:hover {
	cursor: pointer;
	border: 3px solid rgb(165, 167, 168);
	background-color: rgb(187, 191, 192);
	color: rgb(250, 104, 36);

}
#letter-input{
    font-size: 1.2rem;
    text-align: center;
    color: rgb(67, 65, 65);
    padding: 1rem 0rem;
    border-radius: 5px;
  
}

.guess-btn {
  width: 8rem;
  font-size: 1.3em;
	font-weight: bold;
	padding: 0.25em;
	margin: 0.20em;
	border-radius: 8px;
	border: 3px solid rgb(104, 105, 107);
	background-color: rgb(255, 255, 255);
	color: rgb(228, 78, 8);
}

.guess-btn:focus {
    transform: scale(1.05);
    background-color: #b4bbc2; 
    border-color: #94b4ca;
    outline: none; 

}

.word-display {
    font-size: 24px;
    font-weight: bold;
    color: #434040;
    margin: 0.5em;
    padding: 0.5em;
    width: 300px;
    border-radius: 5px;
}

.ordet{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color);
    margin: 1em;
    padding-right: 1em;
}

.show-guessed-letters {
    color: red; 
    font-size: 1.2rem;
    font-weight: bold;   

}

.hint-btn {
  width: 7rem;  
  font-size: 1.1em;
	font-weight: bold;
	padding: 0.30em;
	margin: 0.25em;
	border-radius: 8px;
	border: 3px solid rgb(104, 105, 107);
	background-color: rgb(255, 255, 255);
	color: rgb(228, 78, 8); 
      
}

  
.hint-text {
    font-size: 1rem;
    color: var(--color);
    font-weight: lighter;
    display: none; 
    margin: 0.5rem;

}

.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0.5em;
    
}

#letter-input:focus {
    border-color: #c0c2c4;
    background-color: rgb(236, 233, 233);
    animation: focusAnimation 0.3s ease-out;
    outline: none;
 }

 :root {
  --color: rgb(194, 126, 0);
}
.guess-btn:focus {
  animation: removeFocus 1s forwards;
}
.hint-btn:focus {
  animation: removeFocus 1s forwards;
}
@keyframes removeFocus {
  0% {
      transform: scale(1.05);
      background-color: #a1b8cf;
      border-color: #94b4ca;
  }
  100% {
      transform: scale(1);
      background-color: initial; /* Återställ till ursprunglig färg */
      border-color: initial; /* Återställ till ursprunglig färg */
  }
}

  @keyframes focusAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }

  /* @media (max-width: 350px) {
    .game-container {
        margin: 0;
    }
} */
  
    /* h2 {
      font-size: 30px;
    }

    .game-info {
      font-size: 18px;
      font-weight: none;
    }

    #letter-input {
      width: 120px;
      border-radius: 5px;
      font-size: 16px;
    } */

    /* .show-guessed-letters{
      font-weight: bold;
      font-size: 14px;
    } */

  /* } */

  /* @media (max-width: 360px) {
    .game-container {
      padding: 0.5em;
      text-align: center;
    } */
  
    /* h2 {
      font-size: 24px;
      
    }
  
    .word-display {
      font-size: 16px;
    }
  
    #letter-input {
      width: 90px;
    }
    .game-info {
      font-size: 16px;
      font-weight: none;
    }
    .guessed-letters{
      font-size: 14px;

    }
  }
