body {
    margin: 0;
    background: linear-gradient(162deg, rgb(0, 0, 0), rgba(36, 36, 36, 0.965));
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    
  }