.win {
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.titel-win{
	/* font-size: 4em; */
	color: rgb(230, 153, 11);
}
.win-p {
	/* font-size: 2em; */
	color: rgb(245, 160, 4);
}
.win-button {
	/* font-size: 1.8em; */
	font-weight: bold;
	padding: 0.30em;
	margin: 0.25em;
	border-radius: 8px;
	border: 3px solid rgb(238, 241, 243);
	background-color: rgb(255, 255, 255);
	color: rgb(228, 78, 8);
}
.win-button:hover {
	cursor: pointer;
	border: 3px solid rgb(165, 167, 168);
	background-color: rgb(187, 191, 192);
	color: rgb(250, 104, 36);
}
.win-score-button {
	/* font-size: 1.8em; */
	font-weight: bold;
	padding: 0.30em;
	margin: 0.25em;
	border-radius: 8px;
	border: 3px solid rgb(238, 241, 243);
	background-color: rgb(255, 255, 255);
	color: rgb(228, 78, 8);
}
.win-score-button:hover {
	cursor: pointer;
	border: 3px solid rgb(165, 167, 168);
	background-color: rgb(187, 191, 192);
	color: rgb(250, 104, 36);
}